## US Census Data Analysis

In [2]:
# Imports Libraries
from google.cloud import bigquery
from googleapiclient.discovery import build
import pandas as pd
import os

In [3]:
# Set up authentication credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = './api-project-396215-aafaa4f6da87.json'

# Create a BigQuery client
bigquery_client = bigquery.Client()
# dataset_ref = bigquery_client.dataset('bigquery-public-data.new_york_taxi_trips')

In [4]:
# Construct a query
query = """
SELECT * 
FROM `bigquery-public-data.census_bureau_acs.blockgroup_2010_5yr` 
ORDER BY RAND()
LIMIT 10000
"""

# Execute the query
query_job = bigquery_client.query(query)
results = query_job.result()

In [5]:
# Store the results in a pandas DataFrame
data = []
for row in results:
    data.append(row._xxx_values)

In [35]:
# loads the DataFrame from BigData Query
columns = [key for key in row._xxx_field_to_index]
df = pd.DataFrame(data, columns=columns)

In [45]:
# 1. remove columns with 70%+ null values
null_column_percentages = df.isna().mean() * 100
columns_to_drop = null_column_percentages > 70
df = df.drop(columns=df.columns[columns_to_drop])

In [46]:
# 2. remove rows with 20%+ null values
null_row_percentages = df.isna().mean(axis=1) * 100
rows_to_drop = null_row_percentages > 20
df = df.drop(index=df[rows_to_drop].index)

In [47]:
# 3. remove columns with 70%+ zero values
zero_column_percentages = (df == 0).mean() * 100
columns_to_drop = zero_column_percentages > 70
df = df.drop(columns=df.columns[columns_to_drop])
df

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,white_including_hispanic,black_including_hispanic,asian_including_hispanic,commute_5_9_mins,commute_35_39_mins,commute_40_44_mins,commute_60_89_mins,commute_90_more_mins,households_retirement_income,do_date
0,080010081001,64.0,58.0,2000.0,0.0,32.0,50.0,0.0,0.0,15.0,...,157.0,2.0,15.0,14.0,0.0,0.0,0.0,0.0,9.0,20062010
1,482150219032,57.0,57.0,1949.0,24.0,0.0,0.0,0.0,0.0,0.0,...,258.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,20062010
2,240178510023,207.0,166.0,2001.0,33.0,0.0,0.0,0.0,14.0,0.0,...,435.0,254.0,21.0,0.0,0.0,28.0,69.0,11.0,31.0,20062010
3,371010404002,120.0,323.0,1986.0,20.0,37.0,31.0,17.0,0.0,14.0,...,1008.0,82.0,0.0,29.0,25.0,40.0,19.0,15.0,114.0,20062010
4,410390021021,481.0,524.0,1974.0,92.0,127.0,86.0,0.0,71.0,83.0,...,1632.0,0.0,100.0,100.0,0.0,16.0,0.0,90.0,157.0,20062010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,080299652003,270.0,370.0,1981.0,0.0,6.0,33.0,0.0,0.0,14.0,...,1230.0,0.0,17.0,82.0,0.0,0.0,44.0,0.0,198.0,20062010
9996,060290028061,434.0,418.0,1986.0,32.0,74.0,10.0,113.0,21.0,15.0,...,1193.0,193.0,409.0,145.0,32.0,13.0,59.0,0.0,63.0,20062010
9997,482259507002,84.0,206.0,1973.0,8.0,9.0,0.0,12.0,0.0,14.0,...,809.0,7.0,8.0,17.0,0.0,6.0,49.0,4.0,91.0,20062010
9998,391450031003,59.0,244.0,1939.0,20.0,0.0,5.0,35.0,0.0,0.0,...,841.0,0.0,0.0,5.0,0.0,0.0,32.0,33.0,97.0,20062010
9999,120990010045,158.0,213.0,1985.0,16.0,21.0,0.0,0.0,0.0,0.0,...,771.0,0.0,37.0,55.0,8.0,11.0,0.0,0.0,50.0,20062010

In [50]:
df

,geo_id,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,...,white_including_hispanic,black_including_hispanic,asian_including_hispanic,commute_5_9_mins,commute_35_39_mins,commute_40_44_mins,commute_60_89_mins,commute_90_more_mins,households_retirement_income,do_date
0,080010081001,64.0,58.0,2000.0,0.0,32.0,50.0,0.0,0.0,15.0,...,157.0,2.0,15.0,14.0,0.0,0.0,0.0,0.0,9.0,20062010
1,482150219032,57.0,57.0,1949.0,24.0,0.0,0.0,0.0,0.0,0.0,...,258.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,20062010
2,240178510023,207.0,166.0,2001.0,33.0,0.0,0.0,0.0,14.0,0.0,...,435.0,254.0,21.0,0.0,0.0,28.0,69.0,11.0,31.0,20062010
3,371010404002,120.0,323.0,1986.0,20.0,37.0,31.0,17.0,0.0,14.0,...,1008.0,82.0,0.0,29.0,25.0,40.0,19.0,15.0,114.0,20062010
4,410390021021,481.0,524.0,1974.0,92.0,127.0,86.0,0.0,71.0,83.0,...,1632.0,0.0,100.0,100.0,0.0,16.0,0.0,90.0,157.0,20062010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,080299652003,270.0,370.0,1981.0,0.0,6.0,33.0,0.0,0.0,14.0,...,1230.0,0.0,17.0,82.0,0.0,0.0,44.0,0.0,198.0,20062010
9996,060290028061,434.0,418.0,1986.0,32.0,74.0,10.0,113.0,21.0,15.0,...,1193.0,193.0,409.0,145.0,32.0,13.0,59.0,0.0,63.0,20062010
9997,482259507002,84.0,206.0,1973.0,8.0,9.0,0.0,12.0,0.0,14.0,...,809.0,7.0,8.0,17.0,0.0,6.0,49.0,4.0,91.0,20062010
9998,391450031003,59.0,244.0,1939.0,20.0,0.0,5.0,35.0,0.0,0.0,...,841.0,0.0,0.0,5.0,0.0,0.0,32.0,33.0,97.0,20062010
9999,120990010045,158.0,213.0,1985.0,16.0,21.0,0.0,0.0,0.0,0.0,...,771.0,0.0,37.0,55.0,8.0,11.0,0.0,0.0,50.0,20062010

Optional df save

In [39]:
# Save the DataFrame to a CSV file
data_dir = './data/'
os.makedirs(data_dir, exist_ok=True)
df.to_csv(os.path.join(data_dir, 'us_census_acs.csv'), index=False)